.button {
    -fx-background-color: transparent;
    -fx-fill:  #8F8FDC;
    -fx-text-fill: #8F8FDC;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-padding: 5 30 5 30;
    -fx-border-color: #8F8FDC;
    -fx-border-radius: 50px;
    -fx-border-width: 0.4ex;
}

.button:hover {
    -fx-background-color: #8F8FDC;
    -fx-text-fill: #4d4d87;
    -fx-background-radius: 50px;

    -fx-border-radius: 50px;
    -fx-border-width: 0.4ex;
}

.label {
    -fx-font-weight: bold;
    -fx-font-size: 25px;
    -fx-text-fill: #e275d6;

}